In [ ]:
!pip install oracledb

In [1]:
import oracledb
import pandas as pd

In [2]:
import json

def conexao():
    DATA_FILE = "oracle_conn.json"
    file = open(DATA_FILE, 'r')
    xfile = json.load(file)

    connection = oracledb.connect(
        user=xfile[0]["user"],
        password=xfile[0]["password"],
        dsn=xfile[0]["dsn"] 
    )
    return connection

In [3]:
connection = conexao()
cursor = connection.cursor()

In [4]:
create_table_query = '''
 create table filmes (
     id NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
     filme varchar2(50),
     ano number,
     genero varchar2(50),
     ator varchar2(50),
     atriz varchar2(50)
 )
'''

cursor.execute(create_table_query)
print("Tabela filmes criada com sucesso.")

Tabela filmes criada com sucesso.

In [5]:
insert_query = '''
INSERT INTO FILMES (filme, ano, genero, ator, atriz)
VALUES (:1, :2, :3, :4, :5)
'''

# Converter o DataFrame para uma lista de tuplas
filmes_data = [
    ("Inception", 2010, "Ação/Ficção Científica", "Leonardo DiCaprio", "Ellen Page"),
    ("Titanic", 1997, "Romance/Drama", "Leonardo DiCaprio", "Kate Winslet"),
    ("The Matrix", 1999, "Ação/Ficção Científica", "Keanu Reeves", "Carrie-Anne Moss"),
    ("The Devil Wears Prada", 2006, "Comédia/Drama", "Meryl Streep", "Anne Hathaway"),
    ("Gladiator", 2000, "Ação/Drama", "Russell Crowe", "Connie Nielsen"),
    ("Forrest Gump", 1994, "Drama", "Tom Hanks", "Robin Wright"),
    ("Pretty Woman", 1990, "Romance/Comédia", "Richard Gere", "Julia Roberts"),
    ("Avatar", 2009, "Ação/Ficção Científica", "Sam Worthington", "Zoe Saldana"),
    ("The Shawshank Redemption", 1994, "Drama", "Tim Robbins", "Renee Blaine"),
    ("The Dark Knight", 2008, "Ação", "Christian Bale", "Maggie Gyllenhaal"),
    ("La La Land", 2016, "Romance/Musical", "Ryan Gosling", "Emma Stone"),
    ("The Godfather", 1972, "Crime/Drama", "Marlon Brando", "Diane Keaton"),
    ("Pulp Fiction", 1994, "Crime/Drama", "John Travolta", "Uma Thurman"),
    ("Wonder Woman", 2017, "Ação/Fantasia", "Chris Pine", "Gal Gadot"),
    ("A Star is Born", 2018, "Romance/Drama", "Bradley Cooper", "Lady Gaga"),
    ("Jurassic Park", 1993, "Ação/Ficção Científica", "Sam Neill", "Laura Dern"),
    ("The Silence of the Lambs", 1991, "Suspense/Crime", "Anthony Hopkins", "Jodie Foster"),
    ("Black Panther", 2018, "Ação/Ficção Científica", "Chadwick Boseman", "Lupita Nyong'o"),
    ("Braveheart", 1995, "Ação/Drama", "Mel Gibson", "Sophie Marceau"),
    ("Gone with the Wind", 1939, "Romance/Drama", "Clark Gable", "Vivien Leigh")
]

In [6]:
cursor.executemany(insert_query, filmes_data)
connection.commit()

print(f"{cursor.rowcount} registros inseridos com sucesso.")

# Fechar o cursor e a conexão
cursor.close()
connection.close()

20 registros inseridos com sucesso.

In [7]:
connection = conexao()
cursor = connection.cursor()
query = "select * from filmes"

df_func = pd.read_sql(query, con=connection)

# Fechar o cursor e a conexão
cursor.close()
connection.close()

df_func

C:\Users\pugpl\AppData\Local\Temp\ipykernel_15748\2871545583.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_func = pd.read_sql(query, con=connection)

,ID,FILME,ANO,GENERO,ATOR,ATRIZ
0,1,Inception,2010,Ação/Ficção Científica,Leonardo DiCaprio,Ellen Page
1,2,Titanic,1997,Romance/Drama,Leonardo DiCaprio,Kate Winslet
2,3,The Matrix,1999,Ação/Ficção Científica,Keanu Reeves,Carrie-Anne Moss
3,4,The Devil Wears Prada,2006,Comédia/Drama,Meryl Streep,Anne Hathaway
4,5,Gladiator,2000,Ação/Drama,Russell Crowe,Connie Nielsen
5,6,Forrest Gump,1994,Drama,Tom Hanks,Robin Wright
6,7,Pretty Woman,1990,Romance/Comédia,Richard Gere,Julia Roberts
7,8,Avatar,2009,Ação/Ficção Científica,Sam Worthington,Zoe Saldana
8,9,The Shawshank Redemption,1994,Drama,Tim Robbins,Renee Blaine
9,10,The Dark Knight,2008,Ação,Christian Bale,Maggie Gyllenhaal
10,11,La La Land,2016,Romance/Musical,Ryan Gosling,Emma Stone
11,12,The Godfather,1972,Crime/Drama,Marlon Brando,Diane Keaton
12,13,Pulp Fiction,1994,Crime/Drama,John Travolta,Uma Thurman
13,14,Wonder Woman,2017,Ação/Fantasia,Chris Pine,Gal Gadot
14,15,A Star is Born,2018,Romance/Drama,Bradley Cooper,Lady Gaga
15,16,Jurassic Park,1993,Ação/Ficção Científica,Sam Neill,Laura Dern
16,17,The Silence of the Lambs,1991,Suspense/Crime,Anthony Hopkins,Jodie Foster
17,18,Black Panther,2018,Ação/Ficção Científica,Chadwick Boseman,Lupita Nyong'o
18,19,Braveheart,1995,Ação/Drama,Mel Gibson,Sophie Marceau
19,20,Gone with the Wind,1939,Romance/Drama,Clark Gable,Vivien Leigh

In [9]:
import requests

# retorna todos os filmes da lista
response = requests.get('http://127.0.0.1:5000/filmes')
print(response.json())

[{'ano': 2010, 'ator': 'Leonardo DiCaprio', 'atriz': 'Ellen Page', 'filme': 'Inception', 'genero': 'Ação/Ficção Científica', 'id': 1}, {'ano': 1997, 'ator': 'Leonardo DiCaprio', 'atriz': 'Kate Winslet', 'filme': 'Titanic', 'genero': 'Romance/Drama', 'id': 2}, {'ano': 1999, 'ator': 'Keanu Reeves', 'atriz': 'Carrie-Anne Moss', 'filme': 'The Matrix', 'genero': 'Ação/Ficção Científica', 'id': 3}, {'ano': 2006, 'ator': 'Meryl Streep', 'atriz': 'Anne Hathaway', 'filme': 'The Devil Wears Prada', 'genero': 'Comédia/Drama', 'id': 4}, {'ano': 2000, 'ator': 'Russell Crowe', 'atriz': 'Connie Nielsen', 'filme': 'Gladiator', 'genero': 'Ação/Drama', 'id': 5}, {'ano': 1994, 'ator': 'Tom Hanks', 'atriz': 'Robin Wright', 'filme': 'Forrest Gump', 'genero': 'Drama', 'id': 6}, {'ano': 1990, 'ator': 'Richard Gere', 'atriz': 'Julia Roberts', 'filme': 'Pretty Woman', 'genero': 'Romance/Comédia', 'id': 7}, {'ano': 2009, 'ator': 'Sam Worthington', 'atriz': 'Zoe Saldana', 'filme': 'Avatar', 'genero': 'Ação/Ficção Científica', 'id': 8}, {'ano': 1994, 'ator': 'Tim Robbins', 'atriz': 'Renee Blaine', 'filme': 'The Shawshank Redemption', 'genero': 'Drama', 'id': 9}, {'ano': 2008, 'ator': 'Christian Bale', 'atriz': 'Maggie Gyllenhaal', 'filme': 'The Dark Knight', 'genero': 'Ação', 'id': 10}, {'ano': 2016, 'ator': 'Ryan Gosling', 'atriz': 'Emma Stone', 'filme': 'La La Land', 'genero': 'Romance/Musical', 'id': 11}, {'ano': 1972, 'ator': 'Marlon Brando', 'atriz': 'Diane Keaton', 'filme': 'The Godfather', 'genero': 'Crime/Drama', 'id': 12}, {'ano': 1994, 'ator': 'John Travolta', 'atriz': 'Uma Thurman', 'filme': 'Pulp Fiction', 'genero': 'Crime/Drama', 'id': 13}, {'ano': 2017, 'ator': 'Chris Pine', 'atriz': 'Gal Gadot', 'filme': 'Wonder Woman', 'genero': 'Ação/Fantasia', 'id': 14}, {'ano': 2018, 'ator': 'Bradley Cooper', 'atriz': 'Lady Gaga', 'filme': 'A Star is Born', 'genero': 'Romance/Drama', 'id': 15}, {'ano': 1993, 'ator': 'Sam Neill', 'atriz': 'Laura Dern', 'filme': 'Jurassic Park', 'genero': 'Ação/Ficção Científica', 'id': 16}, {'ano': 1991, 'ator': 'Anthony Hopkins', 'atriz': 'Jodie Foster', 'filme': 'The Silence of the Lambs', 'genero': 'Suspense/Crime', 'id': 17}, {'ano': 2018, 'ator': 'Chadwick Boseman', 'atriz': "Lupita Nyong'o", 'filme': 'Black Panther', 'genero': 'Ação/Ficção Científica', 'id': 18}, {'ano': 1995, 'ator': 'Mel Gibson', 'atriz': 'Sophie Marceau', 'filme': 'Braveheart', 'genero': 'Ação/Drama', 'id': 19}, {'ano': 1939, 'ator': 'Clark Gable', 'atriz': 'Vivien Leigh', 'filme': 'Gone with the Wind', 'genero': 'Romance/Drama', 'id': 20}]

In [10]:
busca = {"ano": 2010}
response = requests.get('http://127.0.0.1:5000/filmes', params=busca)
for i in response.json():
    print(i)

{'ano': 2010, 'ator': 'Leonardo DiCaprio', 'atriz': 'Ellen Page', 'filme': 'Inception', 'genero': 'Ação/Ficção Científica', 'id': 1}

In [11]:
busca = {"ator": "Leonardo DiCaprio"}
response = requests.get('http://127.0.0.1:5000/filmes', params=busca)
for i in response.json():
    print(i)

{'ano': 2010, 'ator': 'Leonardo DiCaprio', 'atriz': 'Ellen Page', 'filme': 'Inception', 'genero': 'Ação/Ficção Científica', 'id': 1}
{'ano': 1997, 'ator': 'Leonardo DiCaprio', 'atriz': 'Kate Winslet', 'filme': 'Titanic', 'genero': 'Romance/Drama', 'id': 2}

In [12]:
# adicionando novo filme
novo_filme = {'filme': 'Interstellar', 'ano': 2014, 'genero': 'Ficção Científica/Aventura', 'ator': 'Matthew McConaughey', 'atriz': 'Anne Hathaway'}
response = requests.post('http://127.0.0.1:5000/filmes', json=novo_filme)
print(response.json())

{'message': 'Filme adicionado'}

In [13]:
busca = {"filme": 'Interstellar'}
response = requests.get('http://127.0.0.1:5000/filmes', params=busca)
for i in response.json():
    print(i)

{'ano': 2014, 'ator': 'Matthew McConaughey', 'atriz': 'Anne Hathaway', 'filme': 'Interstellar', 'genero': 'Ficção Científica/Aventura', 'id': 21}

In [14]:
# atualizando genero do filme
# mudar para outro valor em '21' caso não funcione
update_filme = {'filme': 'Interstellar', 'ano': 2014, 'genero': 'Ficção Científica', 'ator': 'Matthew McConaughey', 'atriz': 'Anne Hathaway'}
response = requests.put('http://127.0.0.1:5000/filmes/21', json=update_filme)
print(response.json())

{'message': 'Filme atualizado'}

In [15]:
busca = {"filme": 'Interstellar'}
response = requests.get('http://127.0.0.1:5000/filmes', params=busca)
for i in response.json():
    print(i)

{'ano': 2014, 'ator': 'Matthew McConaughey', 'atriz': 'Anne Hathaway', 'filme': 'Interstellar', 'genero': 'Ficção Científica', 'id': 21}

In [16]:
# deletando filme
response = requests.delete('http://127.0.0.1:5000/filmes/21')
print(response.json())

{'message': 'Filme removido'}